// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";

$format: screen;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

@media #{$format} {
  .tours-container {
    font-family: Helvetica, Arial, sans-serif;

    .tour-row {
      display: flex;
      flex-direction: row;
      margin-bottom: .8em;

      .tour {
        @media (max-width: $mobile) {
          min-width: 5em;
          height: 7em;
        }
        @media (min-width: $mobile+1px) and (max-width: $tablet) {
          height: 12em;
        }
        @media (min-width: $tablet+1px) and (max-width: $desktop) {
          height: 15em;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 0 0;
        border-radius: 5px;
        min-width: 7em;
        height: 20em;
        margin-right: .8em;
        background-position: center;
        background-size: cover;
        background-color: #eee;

        .title {
          padding: .8em .5em;
          background-color: rgba(255, 255, 255, .3);
          color: black;
          font-size: 1.4em;
          font-weight: 600;
        }

        .footer {
          //overflow: auto;
          display: flex;
          flex-flow: row wrap;
          border-top: 1px solid #444;
          padding: .5em .5em;
          background-color: rgba(230, 230, 230, .3);
          font-weight: 600;
          color: black;
          line-height: 1.5em;
          text-align: center;
          vertical-align: middle;

          .footer-row {
            flex: 1;
          }

          .price {
            line-height: 2.3em;
            font-size: 1.3em;
          }

          .max {
            font-size: 1.1em;
          }

          .nearest {
            font-size: 1.1em;
          }
        }
      }

      .tour.clear {
        background-color: rgba(0, 0, 0, 0);
      }

      .tour:last-child {
        margin-right: 0;
      }
    }
  }
}