//
// reg-page
//

// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";

$format: screen;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

@media #{$format} {
  .rp-header-mobile {
    @media (max-width: $mobile) {
      width: 95%;
    }
    @media (min-width: $mobile+1px) and (max-width: $tablet) {
      width: 90%;
    }
    @media (min-width: $tablet+1px) and (max-width: $desktop) {
      width: 85%;
    }

    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .rp-wrapper {
    @media (max-width: $mobile) {
      width: 95%;
    }
    @media (min-width: $mobile+1px) and (max-width: $tablet) {
      width: 90%;
    }
    @media (min-width: $tablet+1px) and (max-width: $desktop) {
      width: 85%;
    }

    width: 80%;
    margin: 0 auto;
  }

  .rp-content {
    @media (max-width: $mobile) {
      padding: 0 5%;
    }
    @media (min-width: $mobile+1px) and (max-width: $tablet) {
      padding: 0 10%;
    }
    @media (min-width: $tablet+1px) and (max-width: $desktop) {
      padding: 0 15%;
    }

    padding: 0 20%;
  }

  .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .input_title {
      flex-direction: column;
      flex: 1;
      padding-left: 10px;
    }

    .input_title__edit_hotels {
      line-height: 24pt;
    }

    .input_main_title {
      line-height: 24pt;
      font-weight: 400;
      font-size: 15pt;
    }

    .input_container {
      flex-direction: column;
      flex: 2;

      input:not([type="checkbox"]), select, textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #bbbbbb;
        height: 36px;
      }

      input[type="submit"] {
        background-color: #1a46da;
        color: white;
        font-size: 14px;
        font-weight: 600;
      }

      textarea {
        height: auto;
      }

      input:not([type="checkbox"]) {
        line-height: 18pt;
      }

      .left_column_wrapper {
        padding-left: 5px;
        padding-bottom: 0;
      }
    }
  }
}