{{ define "main-authorization" }}
    <!doctype html>
    <html>
    <head>
        <title>Tourtoster</title>
    </head>
    <body>
    <center>
        <p>Auth!</p>
    </center>
    </body>
    </html>
{{ end }}