{{ define "landing-index" }}
    <!doctype html>
    <html>
    <head>
        <title>Tourtouster</title>
    </head>
    <body>
    <br><br><br><br><br><br>
    <center>
        <p>Misha!</p>
        <a href="/console/">Go to manager panel</a>
    </center>
    </body>
    </html>
{{ end }}